
.botonBlanco{
    @extend %botondefault;
    color: #0B5078;
    background-color: white;
    border-color: #51C3C8;
    }
    
    .botonAzul{
    @extend %botondefault;
    color: white;
    background-color: #0B5078;
    border-color: #0B5078;
    }
    
    .botonCeleste{
    @include boton ($border: rgb(11, 80, 120), $backcolor: rgb(11, 80, 120), $color: rgb(0, 0, 0) );
    }