
.botonBlanco{
    color: #0B5078;
    background-color: white;
    border-color: #51C3C8;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
    }
    
    .botonAzul{
    color: white;
    background-color: #0B5078;
    border-color: #0B5078;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
    }
    
    .botonCeleste{
    color: white;
    background-color: #51C3C8;
    border-color: #51C3C8;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
    }
    