footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0B5078;
    height: 700px;
    margin-top: -38px;
    section{
        display: flex;
        justify-content: space-evenly;
        margin-top: -70px;
    }
}

.conversemosfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    article{
        aside{
            display: flex;
            align-items: center;
            height: 60px;
            margin-top: 20px;
            p{
                margin-left: 20px;
            }
        }
    }
}

#linkinstagramfooter{
    display: flex;
    align-items: center;
    margin-top: 50px;
    span{
        margin-left: 20px;
    }
}
    
#conversemos{
    color:#51C3C8;
    font-size: 40px;
}

#siguenos{
    font-size: 30px;
    color: #51C3C8;
    margin-top: 50px;
}

#linkig{
    font-size: 25px;
    color: #51C3C8;
}

#mapadelsitio{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    h4{
        color:#51C3C8
    }
    #mapadelsitioparteuno{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    #mapadelsitiopartedos{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
        article{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                margin-left: 10px;
            }
        }
}

footer p{
    color: white;
    font-size: 150%;
    a{
        color:white;
        text-decoration: none;
    }
}

footer span{
    color: #51C3C8;
    a{
        color: white;
        text-decoration: none;
    }
}

#separadorfooter{
    text-align: center;
    margin: 0 auto;
    height: 5px;
    margin-top: 50px;
}
    
#creditos{
    text-align: center;
    font-size: 120%;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    section{
        display: flex;
        flex-direction: column;
        #mapadelsitio{
            article{
                display: flex;
            }
            
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 1000px;
        section{
            display: flex;
            flex-direction: column;
        }
        .conversemosfooter{
            margin-top: 100px;
            margin-left: 40px;
            height: 500px;
            h3{
                font-size: 20px;
            }
            img{
                height: 20px;
                
            }
            p{
                font-size: 20px;
            }
            article{
                margin-top: 30px;
            }
        }
    }   
    #iconotelefono{
        margin-top: -80px;
    }
    #telefono{
        margin-top: -70px;
    }
    #iconocorreo{
        margin-top: -120px;
    }
    #correo{
        margin-top: -110px;
    }
    #iconoubicacion{
        margin-top: -150px;
        height: 30px;
    }
    #ubicacion{
        margin-top: -130px;
    }
    #siguenos{
        margin-top: -40px;
    }
    #logoig{
        height: 50px;
        margin-top: -50px;
    }

    #mapadelsitio{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
        p{
            font-size: 20px;
        }
    }
    #mapadelsitioparteuno{
        display: flex;    
        flex-direction: row;
        margin-top:10px;
        margin-left: 20px;
    }
    #mapadelsitiopartedos{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 20px;
    }

    #separadorfooter{
        text-align: center;
        margin: 0 auto;
        width: 80%;
        height: 3px;
        margin-top: -20px;
    }
        
    #creditos{
        text-align: center;
        font-size: 80%;
        margin-top: 0px;
    }
}