#mainnosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    height: 3000px;
    width: 100%;
    }
    
    #seccionquienessomos-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
        p{
            width: 1500px;
            font-size: 150%;
            margin-top: 50px;
        }
        img{
            margin-top: 50px;
        }
        button{
            margin-top: 30px;
        }
    }
    
    
    #seccionnuestroequipo-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 150px;
        div{
            display: flex;
            flex-direction: column;
        }
            article{
                display: flex;
                justify-content: space-evenly;
                width: 1500px;
                 margin-top: 50px;
            }
                aside{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 70%;
                    }
                    h4{
                        margin-top: 20px;
                    }
                    h6{
                        font-size: 150%;
                    }
                }
    }
        
    #equipopartedos{
    margin-top: 40px;
    }