#mainclientes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 30px;
    height: 2500px;
    }
    
    #sliderclientes{
    text-align: center;
    margin-top: -350px;
    }
    
    #mainclientes section{
    text-align: center;
    height: 600px;
    }
    
    #nuestrosclientes-clientes{
    margin-top: -250px;
    }
    
    #mainclientes h3{
    margin-top: -30px;
    }
    
    #logosclientes-clientes{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -700px;
    }
    
    #fotosproyectos{
    text-align: center;
    margin-top: -200px;
    }