#mainnosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    height: 3000px;
    width: 100%;
    }
    
    #seccionquienessomos-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
        p{
            width: 1500px;
            font-size: 150%;
            margin-top: 50px;
        }
        img{
            margin-top: 50px;
        }
        button{
            margin-top: 30px;
        }
    }
    
    
    #seccionnuestroequipo-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 150px;
        div{
            display: flex;
            flex-direction: column;
        }
            article{
                display: flex;
                justify-content: space-evenly;
                width: 1500px;
                 margin-top: 50px;
            
                aside{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 70%;
                    }
                    h4{
                        margin-top: 20px;
                    }
                    h6{
                        font-size: 150%;
                    }
                }
            }
    }
        
    #equipopartedos{
    margin-top: 40px;
    }

    .seccionlogosclientesfooter{
        grid-area: clientes;
        position:relative;
        background-color: #51C3C8;
        text-align: center;
        height: 170px;
        img{
            margin-top: 20px;
        }
    }
    #sliderfooter{
        display: none;
    }
    
@media screen and (max-width: 768px) {
    #mainnosotros{
        height: 2800px;
   
        #seccionquienessomos-nosotros{
            margin-top: -350px;
            p{
                width: 300px;
                font-size: 15px;
                text-align: center;
            }         
            img{
                height: 250px;
                width: 250px;
            }
        }
        #separadorplomonosotros{
            margin-top: -350px;
        }
        #seccionnuestroequipo-nosotros{
            margin-top: 100px;
            article{
                height: 800px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                aside{
                    img{
                        height: 150px;
                        width: 150px;
                    }
                }  
            }
            #equipopartedos{
                height: 150px;
                margin-top: 200px;
            }
        }

        .seccionlogosclientesfooter{
            display:none;
        }
        #sliderfooter {
            align-items: center;
            background: #51C3C8;
            display: flex;
            height: 100vh;
            justify-content: center;
        }
        
        $animationSpeed: 10s;
        
        // Animation
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 3))}
        }
        
        
        // Styling
        #sliderfooter {
            background: #51C3C8;
            height: 120px;
            margin: auto;
            overflow:hidden;
            position: relative;
            width: 100%;
            
            &::before,
            &::after {
                content: "";
                height: 100px;
                position: absolute;
                width: 200px;
                z-index: 2;
            }
            
            &::after {
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }
        
            &::before {
                left: 0;
                top: 0;
            }
            
            .slide-track {
                animation: scroll $animationSpeed linear infinite;
                display: flex;
                width: calc(200px * 5);
                margin-left: 200px;
                margin-top: 30px;
            }
            
            .slide {
                height: 100px;
                width: 250px;
            }
        }
    }

 }