
main{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-between;
    height: 4000px;
    width: 100%;
}

.slider{
    width: 100%;
}
.seccionquelogramos-index{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    div{
        width: 50%;
        padding-left: 80px;
        h5{
            margin-top: -80px;
            color: map-get($colors, colorh5);
        }
        h3{
            color: map-get($colors, colorh3);
        }
        article{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            margin-left: 150px;
            width: 450px;
        }
    }
   
} 

.separadorplomo{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 5px;
    margin-top: 40px;
} 

.seccionquehacemos-index{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            margin-top: 40px;
            button{
                margin-top: 40px;
            }
        }
    }
}


.seccionnuestrosproyectos-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        justify-content: space-around;
        width: 1500px;
        margin-top: 50px;
    }
    
}

.seccioncomolohacemos-index{
    grid-area: proceso;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-top: 50px;
    }
    #procesomobile{
        display:none
    }
}


@media screen and (max-width: 768px) {
    .seccionquelogramos-index{
        display: flex;
        flex-direction: column;
        #imagenquelogramosindex{
            width: 300px
        }
        div{
            margin-top: 150px;
            padding-left: 0px;
            text-align: center;
            p{
                font-size: 20px;
            }
            article{
                margin-left: -40px;
                width: 270px;
            }
        }
    }
    .seccionquehacemos-index div{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: -105px;
        span{
            font-size: 20px;
            width: 300px;
        }
        .separadorservicios{
            display: none;
        }
    }
    .seccionnuestrosproyectos-index div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 520px;
        #separadorproyectos{
            display: none;
        }     
    }
    #procesodesktop{
        display:none;
    }   
   
}
