h5 {
  color: #51C3C8;
  font-size: 50px;
}

h3 {
  color: #0B5078;
  font-size: 80px;
  -webkit-animation-name: animacioncolor;
          animation-name: animacioncolor;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes animacioncolor {
  0% {
    color: #0B5078;
  }
  50% {
    color: #51C3C8;
  }
  100% {
    color: black;
  }
}

@keyframes animacioncolor {
  0% {
    color: #0B5078;
  }
  50% {
    color: #51C3C8;
  }
  100% {
    color: black;
  }
}
h4 {
  color: #0B5078;
  font-size: 30px;
}

h6 {
  color: #51C3C8;
  font-size: 23px;
}

span {
  color: #848688;
  font-size: 25px;
  text-align: center;
}

p {
  color: #848688;
  font-size: 30px;
}

label {
  color: #0B5078;
  font-size: 30px;
}

@font-face {
  font-family: bahnschrift;
  src: url("../fonts/bahnschrift.ttf");
}
.botonAzul, .botonBlanco {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .botonAzul, .botonBlanco {
    width: 130px;
    font-size: 20px;
    height: 40px;
  }
}

.botonBlanco {
  color: #0B5078;
  background-color: white;
  border-color: #51C3C8;
}

.botonAzul {
  color: white;
  background-color: #0B5078;
  border-color: #0B5078;
}

.botonCeleste {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(11, 80, 120);
  border-color: rgb(11, 80, 120);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul {
  font-family: bahnschrift;
  src: url("../fonts/bahnschrift.ttf");
  display: flex;
  color: rgb(81, 195, 200);
}
header li a {
  font-size: 80px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0B5078;
  height: 700px;
  margin-top: -38px;
}
footer section {
  display: flex;
  justify-content: space-evenly;
  margin-top: -70px;
}

.conversemosfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
}
.conversemosfooter article aside {
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 20px;
}
.conversemosfooter article aside p {
  margin-left: 20px;
}

#linkinstagramfooter {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
#linkinstagramfooter span {
  margin-left: 20px;
}

#conversemos {
  color: #51C3C8;
  font-size: 40px;
}

#siguenos {
  font-size: 30px;
  color: #51C3C8;
  margin-top: 50px;
}

#linkig {
  font-size: 25px;
  color: #51C3C8;
}

#mapadelsitio {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}
#mapadelsitio h4 {
  color: #51C3C8;
}
#mapadelsitio #mapadelsitioparteuno {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#mapadelsitio #mapadelsitiopartedos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#mapadelsitio article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#mapadelsitio article p {
  margin-left: 10px;
}

footer p {
  color: white;
  font-size: 150%;
}
footer p a {
  color: white;
  text-decoration: none;
}

footer span {
  color: #51C3C8;
}
footer span a {
  color: white;
  text-decoration: none;
}

#separadorfooter {
  text-align: center;
  margin: 0 auto;
  height: 5px;
  margin-top: 50px;
}

#creditos {
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
  }
  section #mapadelsitio article {
    display: flex;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }
  footer section {
    display: flex;
    flex-direction: column;
  }
  footer .conversemosfooter {
    margin-top: 100px;
    margin-left: 40px;
    height: 500px;
  }
  footer .conversemosfooter h3 {
    font-size: 20px;
  }
  footer .conversemosfooter img {
    height: 20px;
  }
  footer .conversemosfooter p {
    font-size: 20px;
  }
  footer .conversemosfooter article {
    margin-top: 30px;
  }
  #iconotelefono {
    margin-top: -80px;
  }
  #telefono {
    margin-top: -70px;
  }
  #iconocorreo {
    margin-top: -120px;
  }
  #correo {
    margin-top: -110px;
  }
  #iconoubicacion {
    margin-top: -150px;
    height: 30px;
  }
  #ubicacion {
    margin-top: -130px;
  }
  #siguenos {
    margin-top: -40px;
  }
  #logoig {
    height: 50px;
    margin-top: -50px;
  }
  #mapadelsitio {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
  }
  #mapadelsitio p {
    font-size: 20px;
  }
  #mapadelsitioparteuno {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
  }
  #mapadelsitiopartedos {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
  }
  #separadorfooter {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 3px;
    margin-top: -20px;
  }
  #creditos {
    text-align: center;
    font-size: 80%;
    margin-top: 0px;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: space-between;
  height: 4000px;
  width: 100%;
}

.slider {
  width: 100%;
}

.seccionquelogramos-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.seccionquelogramos-index div {
  width: 50%;
  padding-left: 80px;
}
.seccionquelogramos-index div h5 {
  margin-top: -80px;
  color: rgb(81, 195, 200);
}
.seccionquelogramos-index div h3 {
  color: rgb(11, 80, 120);
}
.seccionquelogramos-index div article {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 150px;
  width: 450px;
}

.separadorplomo {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 5px;
  margin-top: 40px;
}

.seccionquehacemos-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.seccionquehacemos-index div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
.seccionquehacemos-index div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 40px;
}
.seccionquehacemos-index div article button {
  margin-top: 40px;
}

.seccionnuestrosproyectos-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccionnuestrosproyectos-index div {
  display: flex;
  justify-content: space-around;
  width: 1500px;
  margin-top: 50px;
}

.seccioncomolohacemos-index {
  grid-area: proceso;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccioncomolohacemos-index img {
  margin-top: 50px;
}
.seccioncomolohacemos-index #procesomobile {
  display: none;
}

.seccionlogosclientesfooter {
  grid-area: clientes;
  position: relative;
  background-color: #51C3C8;
  text-align: center;
  height: 170px;
}
.seccionlogosclientesfooter img {
  margin-top: 20px;
}

#sliderfooter {
  display: none;
}

@media screen and (max-width: 768px) {
  .seccionquelogramos-index {
    display: flex;
    flex-direction: column;
  }
  .seccionquelogramos-index #imagenquelogramosindex {
    width: 300px;
  }
  .seccionquelogramos-index div {
    margin-top: 150px;
    padding-left: 0px;
    text-align: center;
  }
  .seccionquelogramos-index div p {
    font-size: 20px;
  }
  .seccionquelogramos-index div article {
    margin-left: -40px;
    width: 270px;
  }
  .seccionquehacemos-index div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: -105px;
  }
  .seccionquehacemos-index div span {
    font-size: 20px;
    width: 300px;
  }
  .seccionquehacemos-index div .separadorservicios {
    display: none;
  }
  .seccionnuestrosproyectos-index div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 520px;
  }
  .seccionnuestrosproyectos-index div #separadorproyectos {
    display: none;
  }
  #procesodesktop {
    display: none;
  }
  .seccionlogosclientesfooter {
    display: none;
  }
  #sliderfooter {
    align-items: center;
    background: #51C3C8;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  #sliderfooter {
    background: #51C3C8;
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  #sliderfooter::before, #sliderfooter::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  #sliderfooter::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  #sliderfooter::before {
    left: 0;
    top: 0;
  }
  #sliderfooter .slide-track {
    -webkit-animation: scroll 10s linear infinite;
            animation: scroll 10s linear infinite;
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-top: 30px;
  }
  #sliderfooter .slide {
    height: 100px;
    width: 250px;
  }
}
#mainnosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  height: 3000px;
  width: 100%;
}

#seccionquienessomos-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}
#seccionquienessomos-nosotros p {
  width: 1500px;
  font-size: 150%;
  margin-top: 50px;
}
#seccionquienessomos-nosotros img {
  margin-top: 50px;
}
#seccionquienessomos-nosotros button {
  margin-top: 30px;
}

#seccionnuestroequipo-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 150px;
}
#seccionnuestroequipo-nosotros div {
  display: flex;
  flex-direction: column;
}
#seccionnuestroequipo-nosotros article {
  display: flex;
  justify-content: space-evenly;
  width: 1500px;
  margin-top: 50px;
}
#seccionnuestroequipo-nosotros article aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seccionnuestroequipo-nosotros article aside img {
  width: 70%;
}
#seccionnuestroequipo-nosotros article aside h4 {
  margin-top: 20px;
}
#seccionnuestroequipo-nosotros article aside h6 {
  font-size: 150%;
}

#equipopartedos {
  margin-top: 40px;
}

.seccionlogosclientesfooter {
  grid-area: clientes;
  position: relative;
  background-color: #51C3C8;
  text-align: center;
  height: 170px;
}
.seccionlogosclientesfooter img {
  margin-top: 20px;
}

#sliderfooter {
  display: none;
}

@media screen and (max-width: 768px) {
  #mainnosotros {
    height: 2800px;
  }
  #mainnosotros #seccionquienessomos-nosotros {
    margin-top: -350px;
  }
  #mainnosotros #seccionquienessomos-nosotros p {
    width: 300px;
    font-size: 15px;
    text-align: center;
  }
  #mainnosotros #seccionquienessomos-nosotros img {
    height: 250px;
    width: 250px;
  }
  #mainnosotros #separadorplomonosotros {
    margin-top: -350px;
  }
  #mainnosotros #seccionnuestroequipo-nosotros {
    margin-top: 100px;
  }
  #mainnosotros #seccionnuestroequipo-nosotros article {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #mainnosotros #seccionnuestroequipo-nosotros article aside img {
    height: 150px;
    width: 150px;
  }
  #mainnosotros #seccionnuestroequipo-nosotros #equipopartedos {
    height: 150px;
    margin-top: 200px;
  }
  #mainnosotros .seccionlogosclientesfooter {
    display: none;
  }
  #mainnosotros #sliderfooter {
    align-items: center;
    background: #51C3C8;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  #mainnosotros #sliderfooter {
    background: #51C3C8;
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  #mainnosotros #sliderfooter::before, #mainnosotros #sliderfooter::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  #mainnosotros #sliderfooter::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  #mainnosotros #sliderfooter::before {
    left: 0;
    top: 0;
  }
  #mainnosotros #sliderfooter .slide-track {
    -webkit-animation: scroll 10s linear infinite;
            animation: scroll 10s linear infinite;
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-top: 30px;
  }
  #mainnosotros #sliderfooter .slide {
    height: 100px;
    width: 250px;
  }
}
#mainservicios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 30px;
  height: 3000px;
}
#mainservicios article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#mainservicios article aside {
  display: flex;
  justify-content: space-evenly;
  width: 1800px;
}
#mainservicios article p {
  width: 800px;
  font-size: 150%;
  margin-top: 100px;
}
#mainservicios article img {
  width: 30%;
  height: 80%;
  margin-top: 50px;
}
#mainservicios article input {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  #mainservicios article {
    display: flex;
    flex-direction: column;
  }
  #mainservicios article aside {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #mainservicios article aside p {
    margin-left: 50px;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
  }
  #mainservicios article aside img {
    margin-left: 80px;
    width: 250px;
  }
  #mainservicios article .botonblanco {
    margin-top: 100px;
  }
  #mainservicios article h5 {
    margin-top: -180px;
  }
  .seccionlogosclientesfooter {
    display: none;
  }
  #sliderfooter {
    align-items: center;
    background: #51C3C8;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-750px);
    }
  }
  #sliderfooter {
    background: #51C3C8;
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  #sliderfooter::before, #sliderfooter::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  #sliderfooter::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  #sliderfooter::before {
    left: 0;
    top: 0;
  }
  #sliderfooter .slide-track {
    -webkit-animation: scroll 10s linear infinite;
            animation: scroll 10s linear infinite;
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-top: 30px;
  }
  #sliderfooter .slide {
    height: 100px;
    width: 250px;
  }
}
#maincontacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 30px;
  height: 2000px;
}
#maincontacto #slidercontacto {
  text-align: center;
}
#maincontacto #contacto-contacto {
  text-align: center;
}
#maincontacto form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 1200px;
  height: 800px;
  margin-left: 400px;
}
#maincontacto form aside {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
#maincontacto form aside article input {
  width: 500px;
  height: 50px;
  border-color: #51C3C8;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  margin-top: 10px;
}
#maincontacto form textarea {
  width: 1100px;
  height: 50px;
  border-color: #51C3C8;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  margin-top: 10px;
}
#maincontacto form #botonenviar {
  margin-left: 400px;
}

#mainclientes {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 1500px;
}
#mainclientes #nuestrosclientes-clientes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 800px;
}
#mainclientes #nuestrosclientes-clientes h5 {
  margin-top: 50px;
}
#mainclientes #logosclientes-clientes {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 60%;
  margin-left: 400px;
}
#mainclientes #logosclientes-clientes img {
  width: 10%;
}
#mainclientes .fotosproyectos {
  text-align: center;
  align-content: center;
  margin-left: 400px;
  width: 60%;
}

@media screen and (max-width: 768px) {
  #mainclientes {
    height: 500px;
  }
  #nuestrosclientes-clientes {
    height: 600px;
  }
  #nuestrosclientes-clientes #logosclientes-clientes {
    display: none;
  }
  #nuestrosclientes-clientes .fotosproyectos {
    margin: auto;
    margin-left: 50px;
    height: 50%;
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */