*{
    font-family: bahnschrift;
}

#body-index{
    display: grid;
    grid-template-areas: 
    "header"
    "sliderprincipal"
    "quelogramos"
    "quehacemos"
    "proyectos"
    "proceso"
    "clientes"
    "footer";
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr 3fr;
    grid-template-columns: 1fr;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

    header{
        grid-area: header;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header ul{
        display: flex;
        list-style-type: none;
        font-size: 30px;
        width: 800px;
        justify-content: space-evenly;
        color:#848688;
    }

    .rectanguloheader{
        background-color: #51C3C8;
        width: 3px;
        height: 30px;
    }    

    main{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-between;
        height: 4500px;
    }

    #sliderprincipal-index{
        grid-area: sliderprincipal;
        display: flex;
        justify-content: center;
        width: 100%;
        vertical-align: middle;
    }

    #textosliderindex{
        width: 600px;
        font-size: 80px;
        color:white;
        position:relative;
        top: -750px;
        left: 400px;
    }

    .seccionquelogramos-index{
        grid-area: quelogramos;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -600px;
    }
    .seccionquelogramos-index div{
        width: 800px;
        padding-left: 80px;
    }
    .seccionquelogramos-index div h3{
        margin-top: -40px;
    }
    .seccionquelogramos-index div p{
        margin-top: -20px;
    }
    .seccionquelogramos-index div article{
        display: flex;
        justify-content: center;
    }
    #conocenosquelogramos{
        margin-right: 20px;
    }   

    .separadorplomo{
        text-align: center;
        margin: 0 auto;
        height: 5px;
    } 

    .seccionquehacemos-index{
        grid-area: quehacemos;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccionquehacemos-index div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .seccionquehacemos-index div article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        margin-top: 40px
    }
    .seccionquehacemos-index h5{
        margin-top: -40px;
    }
    .seccionquehacemos-index h3{
        margin-top: -40px;
    }
    .seccionquehacemos-index div article span{
        margin-top: -20px;
    }
    #botondesarrolloweb{
        margin-top: 30px;
    }
    #botonbranding{
        margin-top: 60px;
    }
    #botonprinting{
        margin-top: 50px;
    }

    .seccionnuestrosproyectos-index{
        grid-area: proyectos;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -220px;
    }
    .seccionnuestrosproyectos-index div{
        display: flex;
        justify-content: space-around;
        width: 1500px;
    }
    .seccionnuestrosproyectos-index h3{
        margin-top: -40px;
    }

    .seccioncomolohacemos-index{
        grid-area: proceso;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -200px;
    }
    .seccioncomolohacemos-index h3{
        margin-top: -30px;
    }
    .seccioncomolohacemos-index img{
        margin-top: 60px;
    }


#mainnosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    height: 3500px;
}

#slidernosotros{
    text-align: center;
}

#seccionquienessomos-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#seccionquienessomos-nosotros h3{
    margin-top: -40px;
}

#seccionquienessomos-nosotros p{
    width: 1500px;
}

#seccionquienessomos-nosotros input{
    margin-top: 40px;
}

#seccionnuestroequipo-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: 100px;
}

#seccionnuestroequipo-nosotros h3{
    margin-top: -30px;
}


#seccionnuestroequipo-nosotros div{
    display: flex;
    flex-direction: column;
}

#seccionnuestroequipo-nosotros div article{
    display: flex;
    justify-content: space-evenly;
    width: 1800px;
}

#seccionnuestroequipo-nosotros div article aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccionnuestroequipo-nosotros div article aside h6{
    margin-top: -30px;
}

#equipopartedos{
    margin-top: 40px;
}


#mainservicios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
    height: 4000px;
}

#sliderservicios{
    text-align: center;
}

#mainservicios article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#mainservicios h3{
    margin-top: -30px;
}

#mainservicios article aside{
    display: flex;
    justify-content: space-evenly;
    width: 1800px;
}

#mainservicios article input{
    margin-top: 80px;
}

#mainservicios p{
    width: 800px;
}

#mainclientes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 30px;
    height: 2500px;
}

#sliderclientes{
    text-align: center;
    margin-top: -350px;
}

#mainclientes section{
    text-align: center;
    height: 600px;
}

#nuestrosclientes-clientes{
    margin-top: -250px;
}

#mainclientes h3{
    margin-top: -30px;
}

#logosclientes-clientes{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -700px;
}

#fotosproyectos{
    text-align: center;
    margin-top: -200px;
}


#maincontacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
    height: 2000px;
}

#slidercontacto{
    text-align: center;
}

#contacto-contacto{
    text-align: center;
}

#contacto-contacto h3{
    margin-top: -30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:flex-start;
    width: 1200px;
    height: 800px;
    margin-left: 700px;
}


form aside{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

form article input{
    width: 500px;
    height: 50px;
    border-color: #51C3C8;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-top: 10px;
}

form textarea{
    width: 1100px;
    height: 50px;
    border-color: #51C3C8;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;  
    margin-top: 10px;  
}

#botonenviar{
    margin-left: 400px;
}





.seccionlogosclientesfooter{
    grid-area: clientes;
    position: relative;
    background-color: #51C3C8;
    text-align: center;
}
.seccionlogosclientesfooter img{
    margin-top: 10px;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0B5078;
    height: 750px;
}
footer section{
    display: flex;
    justify-content: space-evenly;
    margin-top: -70px;
}

.conversemosfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 90px;
}
.conversemosfooter article aside{
    display: flex;
    align-items: center;
}
.conversemosfooter article aside p{
    margin-left: 20px;
}

#linkinstagramfooter{
    display: flex;
    align-items: center;
}
#linkinstagramfooter span{
    margin-left: 20px;
}

#conversemos{
    color:#51C3C8;
    font-size: 40px;
}
#siguenos{
    font-size: 30px;
    color: #51C3C8;
}
#linkig{
    font-size: 25px;
    color: #51C3C8;
}
#mapadelsitio{
    margin-top: 70px;
}
#mapadelsitio article{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mapadelsitio article p{
    margin-left: 10px;
}
footer p{
    color: white;
    font-size: 150%;
}
footer span a{
    color: white;
    text-decoration: none;
}
footer p a{
    color:white;
    text-decoration: none;
}
footer span{
    color: #51C3C8;
}
footer h4{
    color:#51C3C8
}

#separadorfooter{
    text-align: center;
    margin: 0 auto;
    height: 5px;
    margin-top: 100px;
}

#creditos{
    text-align: center;
    font-size: 120%;
}
@font-face {
    font-family: bahnschrift;
    src: url("../fonts/bahnschrift.ttf");
}

h5{
    color: #51C3C8;
    font-size: 30px;
}

h3{
    color: #0B5078;
    font-size: 60px;
    animation-name: animacioncolor;
    animation-duration: 3s;
    animation-iteration-count: 3;
}

@keyframes animacioncolor{
    0%{
        color: #0B5078;
    }
    50%{
        color: #51C3C8;
    }
    100%{
        color:black
    }
}


h4{
    color: #0B5078;
    font-size: 30px;
}

h6{
    color: #51C3C8;
    font-size: 23px;
}


span{
    color: #848688;
    font-size: 25px;
    text-align: center;
}

p{
    color: #848688;
    font-size: 30px;
}

.botonBlanco{
    color: #0B5078;
    background-color: white;
    border-color: #51C3C8;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
}

.botonAzul{
    color: white;
    background-color: #0B5078;
    border-color: #0B5078;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
}

.botonCeleste{
    color: white;
    background-color: #51C3C8;
    border-color: #51C3C8;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 30px;
}


label{
    color: #0B5078;
    font-size: 30px;
}


@media screen and (max-width: 480px) {

    header{
        justify-content: space-around;
        align-items: right;
    }

    header ul{
        width: 0px;
        justify-content: space-evenly;
    } 

    .slider{
        height: 300px;
    }

    #sliderprincipal-index{
        display: flex;
        justify-content: center;
        width: 200%;
        vertical-align: middle;
        height: 300px;
    } 

    #textosliderindex{
        width: 250px;
        font-size: 40px;
        color:white;
        position:relative;
        top: -320px;
        left: 80px;
        text-align: left;
    }

    .seccionquelogramos-index{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-top: -0px;
        height: 600px;
        top: 0px;
    } 

    .seccionquelogramos-index div{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        padding-left: 0;
        text-align: center;
    }    

    #imagenquelogramosindex{
        width: 80%;
        margin-top: 30px;
        margin-left: 10px;
    }
    .seccionquelogramos-index div article{
        margin-left: -20px;
    }  

    .seccionquelogramos-index h5{
        margin-left: 100px;
    }    

    .separadorplomo{
        width: 80%;
    }

    .seccionquehacemos-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 950px;
    }

    .seccionquehacemos-index div{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .separadorservicios{
        display: none;
    }

    .seccionnuestrosproyectos-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -180px;
        height: 800px;
    }
    .seccionnuestrosproyectos-index div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }    

    #separadorproyectos{
        display: none;
    }

    .seccioncomolohacemos-index img{
        height: 100%;
        text-align: left;
        margin-left: 400px;
    }

    #mainnosotros{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        height: 4100px;
    }

    #seccionnuestroequipo-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 3500px;
        margin-top: 100px;
    }
  
    .seccioncomolohacemos-index{
        margin-top: -300px;
        height: 300px;
    }

    #slidernosotros{
        display: flex;
        justify-content: center;
        width: 100%;
        vertical-align: middle;
        height: 500px;
    }

    #seccionquienessomos-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1300px;
        padding-top: 50px;
    }

    #seccionnuestroequipo-nosotros div article{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding-top: -200px;
    }

    #mainservicios{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-top: 30px;
        height: 6500px;
        width: 100%;
    }

    #mainservicios article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #mainservicios article aside{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 1800px;
    }



    h5{
        font-size: 20px;
        text-align: center;
    }
    
    h3{
        font-size: 40px;
        text-align: center;
    }
    
    
    h4{
        font-size: 20px;
    }
    
    h6{
        font-size: 20px;
    }
    
    
    span{
        font-size: 15px;
    }
    
    p{
        font-size: 25px;
    }
    
    .botonBlanco{
        border-radius: 12px;
        width: 180px;
        height: 50px;
        font-size: 25px;
    }
    
    .botonAzul{
        border-radius: 12px;
        width: 180px;
        height: 50px;
        font-size: 25px;
    }
    
    .botonCeleste{
        border-radius: 12px;
        width: 180px;
        height: 50px;
        font-size: 25px;
    }
    
    
    label{
        font-size: 25px;
    }



}